﻿
.hm_sec_2_content
{
    display: block;
    padding: 0px 0;
    /*margin-left:6px;*/
    background: #fff;
    margin-bottom: 5px;
    
    border: 0px solid #eee;
   
}
.hm_sec_2_content h1
{
    border-bottom: 1px solid #eee;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #222;
    font-size: 20px;
    text-align: left;
}
.hm_sec_2_content h2
{
    border-bottom: 1px solid #eee;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    color: #222;
    font-size: 20px;
}
.hm_sec_2_content fieldset
{
    border: 1px solid #bbb;
    padding: 10px 10px 10px 10px;
    margin:8px 8px 15px;
    
}
.hm_sec_2_content legend
{
    font-size: 13px;
    color: #333;
    font-weight:bold;
}
/* ---------------------------------------------------------------------------------- */
.submission
{
    display: block;
    padding: 5px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 5px;
    /*border: 1px solid #eee;*/
    margin-left: 7px;
    /*width: 97.5% !important;*/
}
.result
{
    display: block;
    padding: 5px;
    background: #fff;
    margin-bottom: 5px;
    border: 1px solid #f60;
}
.result span
{
    font-size: 15px;
    font-weight: bold;
}
/* ---------------------------------------------------------------------------------- */
.modalPopup
{
    background-color: #fff;
    padding: 0px 0 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 3px solid #eee;
    position: relative;
    width: 800px;
    top:0;
    left:0;
    height:500px;
    overflow-y:scroll;
}
.modalPopupFreight
{
    background-color: #fff;
    padding: 0px 0 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 3px solid #eee;
    position: relative;
    width: auto;
    top:0;
    left:0;
    /*height:500px;*/
    /*overflow-y:scroll;*/
}
.modalPopup1
{
    width: 900px;
    background-color: #fff;
    padding: 50px 30px 20px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 3px solid #eee;
    position: relative;
}
.close_pop
{
    position: absolute;
    top: 20px;
    right: 30px;
}
.modalBackground
{
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.7;
}
/* ---------------------------------------------------------------------------------- */
.hidden
{
    display: none;
}
.buttonfile_Upload
{
    border: 1px solid #333;
    padding: 10px;
    margin: 5px;
    background: #777;
    color: #fff;
    width: 75px;
}
.file_Upload
{
}
.avater
{
    border: 1px solid #ccc;
    width: 35% !important;
    padding: 5px;
}
.avater_details
{
    border: 0px solid #ccc !important;
    padding: 5px;
    width: 200px;
    height: 100px; /*border-radius: 250px;     -webkit-border-radius: 250px;     -moz-border-radius: 250px;*/
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}
/* ---------------------------------------------------------------------------------- */
/*Calendar Control CSS*/
.ajax__calendar .ajax__calendar_container
{
    background-color: #e2e2e2;
    border: solid 1px #cccccc;
    z-index: 1000;
}

.ajax__calendar .ajax__calendar_header
{
    background-color: #ffffff;
    margin-bottom: 0px;
}

.ajax__calendar .ajax__calendar_title, .ajax__calendar .ajax__calendar_next, .ajax__calendar .ajax__calendar_prev
{
    color: #004080;
    padding-top: 3px;
}

.ajax__calendar .ajax__calendar_body
{
    background-color: #e9e9e9;
    border: solid 1px #cccccc;
    width:auto;
}

.ajax__calendar .ajax__calendar_dayname
{
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 2px;
}

.ajax__calendar .ajax__calendar_day
{
    text-align: center;
}

.ajax__calendar .ajax__calendar_hover .ajax__calendar_day, .ajax__calendar .ajax__calendar_hover .ajax__calendar_month, .ajax__calendar .ajax__calendar_hover .ajax__calendar_year, .ajax__calendar .ajax__calendar_active
{
    color: #004080;
    font-weight: bold;
    background-color: #ffffff;
}

.ajax__calendar .ajax__calendar_today
{
    font-weight: bold;
}

.ajax__calendar .ajax__calendar_other, .ajax__calendar .ajax__calendar_hover .ajax__calendar_today, .ajax__calendar .ajax__calendar_hover .ajax__calendar_title
{
    color: #bbbbbb;
}
.ajax__calendar_ico
{
    width: 30px;
    outline: 0;
    display: block;
    position: absolute;
    top: 2px;
    right: 34%;
}
/* ---------------------------------------------------------------------------------- */
.search_panel
{
    display: block;
    margin-bottom: 10px;
    border: #ccc solid 1px;
    background: #eee;
    padding: 5px;
}
.search_panel label
{
    margin-bottom: 10px;
    font-weight: 700;
}

.staff_master
{
    position: relative;
    display: table;
    padding-bottom: 10px;
    background: #fff;
    border: 1px solid #eee;
    width: 98%;
    margin-left: 7px;
}
.clear
{
    display: block;
    clear: both;
}
.colms_2
{
    width: 49.5%;
    float: left;
    padding: 0px;
    margin: 0px;
    display: table;
}
.colms_3
{
    width: 31%;
    float: left;
    padding: 0px;
    margin: 0px;
    display: table;
    margin-left: 10px;
    margin-right: 10px;
}
.right
{
    float: right;
}
.left
{
    float: left;
}

/*AutoComplete flyout */
.autocomplete_completionListElement
{
    margin: 0px !important;
    background-color: #eee;
    color: windowtext;
    border: 1px solid #ccc;
    border-bottom: 2px solid #bbb;
    cursor: 'default';
    overflow: auto;
    height: 200px;
    text-align: left;
    left: 0px;
    list-style-type: none;
    font-size: 15px;
}
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
{
    background: #6393c1;
    font-size: 15px;
    font-family: Candara;
    color: #fff;
    padding: 2px;
    padding-left: 5px;
}
/* AutoComplete item */
.autocomplete_listItem
{
    color: windowtext;
    font-size: 15px;
    font-family: Candara;
    padding: 2px;
    padding-left: 5px;
}


.my_TimeSelector
{
    margin: 5px;
    padding: 0 10px;
    width: 80%;
    height: 28px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    position: relative;
}
.report_export
{
    margin-left: 0px;
}
.report_export input
{
    outline: none;
}
/* Rating */
.ratingStar
{
    font-size: 0pt;
    width: 13px;
    height: 12px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}

.filledRatingStar
{
    background-image: url(../img/FilledStar.png);
}

.emptyRatingStar
{
    background-image: url(../img/EmptyStar.png);
}

.savedRatingStar
{
    background-image: url(../img/SavedStar.png);
}
/*..............................................*/

 .waitingdiv {
    color: #02498e !important;
    font-family: Century Gothic, sans-serif;
    font-size: 12px;
    padding:2px;
    float:left;

 }
 .waiting_img
 {
 	width:13px;
 	height:13px;
 	position:relative;
 	float:left;
 	margin-top:1px;
 	margin-right:2px;
 	}
 .CheckResult
 {
 	color: #02498e !important;
    font-family: Century Gothic, sans-serif;
    font-size: 13px;
    padding:2px;
    float:left;
 	}

 .lblstatus_icon
 {
 	width:14px;
 	height:13px;
 	position:relative;
 	float:left;
 	margin-top:2px;
 	margin-right:2px;
 	
 	}
