﻿


/*--------------------------------------*/
.popuHeader {

    padding: 7px;
    background: #333; /* Old browsers */
    color: #ffffff;
    font-size: 100%;
    font-weight: bold;
    cursor: move;
    /*-webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;*/
    border-bottom: 1px solid #000;
    border-top: 1px solid #eee;
}

.popuBody {
    /*-webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;*/
    position: relative;
    width: 900px;
    background-color: #eee;
    border: 0px solid #000;
    border-bottom: 3px solid #45484d;
}



/*--------------------------------------*/


